*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: arial;
}
body{
  background-color: black;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add{
  padding: 5px 10px;
  background-color: grey;
  border: 2px solid grey;
  border-left: 2px solid black;
  border-radius: 0px 3px 3px 0px;
}
h1{
  color: rgb(0, 255, 0);
}
sub{
  color: red;
}
input[type="text"]{
  padding: 5px 10px;
  outline: none;
  background-color: grey;
  border: 2px solid grey;
  border-radius: 3px 0px 0px 3px;
}
input::placeholder{
  color: rgba(240, 248, 255, 0.612);
}
ol{
  height: 40lvh;
  overflow: auto;

}
li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-top: 5px;
}
#re{
  padding: 2px 3px;
  border: none;
  /* border-bottom: 1px solid white; */
  background-color: transparent;
}