*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
ul{
  list-style: none;
 display: flex;
 width: 50vw;
 justify-content: space-between;
 align-items: center;
}
a{
  color: black;
  text-decoration: none;
}
li{
  border: 1px solid black;
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  min-width: 27px;
  min-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.active{
  color: red;
}