*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
.main{
  display: flex;
  width: 100vw;
  padding: .5rem 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px .2px 5px .5px black;
}
.buttons{
  display: flex;
  gap: .3rem;
}
.jeet {
  color: rgb(26, 211, 63);
  text-decoration: none;
}
.inactive{
  color: grey;
  text-decoration: none;
}
ul{
  list-style: none;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  padding: .2rem .4rem;
  border: none;
  border-radius: 5px;
}